---
import TiktokNotFollow from "../components/logic/TikTok";
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FollowAudit</title>
    <meta
      name="description"
      content="Track and analyze your social media followers across multiple platforms"
    />
  </head>
  <body>
    <TiktokNotFollow client:load />
  </body>
</html>
